# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Chroma database files
*.sqlite3

# macOS
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.aider*
